<%- include('common/header.ejs'); %>
  <!-- END: Head-->
  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="">
    <!-- BEGIN: Header-->
    <%- include('common/navbar.ejs'); %>
      <!-- END: Header-->
      <!-- BEGIN: Main Menu Sidebar -->
      <%- include('common/sidebar.ejs'); %>
        <!-- END: Main Menu Sidebar-->
        <!-- BEGIN: Content-->
        <div class="app-content content ">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
              <div class="content-header-left col-md-9 col-12 mb-2">
                  <div class="row breadcrumbs-top">
                      <div class="col-12">
                          <h2 class="content-header-title float-start mb-0">Change Password</h2>
                      </div>
                  </div>
              </div>
          </div>
            <div class="content-body">
              <section class="app-user-edit">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-content">
                      <!-- Account Tab starts -->
                      <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                      
                        <!-- users edit account form start -->
                        <form action="" method="post" id="validate" class="form-validate" novalidate="novalidate"
                          enctype="multipart/form-data">
                          <div class="col-12">
                            <div class="mb-1">
                              <label class="form-label" for="oldpassword">Old Password</label>
                              <input type="password" class="form-control" placeholder="Old Password" value=""
                                name="oldpassword" id="oldpassword" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="mb-1">
                              <label class="form-label" for="newpassword">New Password</label>
                              <input type="password" class="form-control" placeholder="New Password" value=""
                                name="newpassword" id="newpassword" required>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="mb-1">
                              <label class="form-label" for="confim password">Confim Password</label>
                              <input type="password" name="confirm_password" class="form-control" value=""
                                placeholder="Confim Password" id="confirm_password" required>
                            </div>
                          </div>
                          <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                            <button type="submit"
                              class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Update</button>
                            <a href="/admin/dashboard"
                              class="btn btn-danger mb-1 mb-sm-0 me-0 me-sm-1 waves-effect waves-float waves-light">Back</a>
                          </div>
                        </form>
                        <!-- users edit account form ends -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
        <!-- END: Content-->
        <%- include('common/footer.ejs'); %> 
          <script>
            $(document).ready(function () {
              // alert("vikas")
              $("#validate").validate({
                rules: {
                  oldpassword: {
                    required: true,
                    minlength: 2 // For length of lastname
                  },
                  newpassword: {
                    required: true,
                    minlength: 5
                  },
                  confirm_password: {
                    required: true,
                    minlength: 5,
                    // For checking both passwords are same or not
                    equalTo: "#newpassword"
                  },
                }, messages: {

                  oldpassword: {
                    required: " Please enter a username",
                    minlength:
                      " Your username must consist of at least 2 characters"
                  },
                  newpassword: {
                    required: " Please enter a password",
                    minlength:
                      " Your password must be consist of at least 5 characters"
                  },
                  confirm_password: {
                    required: " Please enter a password",
                    minlength:
                      " Your password must be consist of at least 5 characters",
                    equalTo: " Please enter the same password as above"
                  },
                }
              });
            });  
          </script>