<%- include('../common/header.ejs'); %>

    <!-- END: Head-->

    <!-- BEGIN: Body-->

    <body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click"
        data-menu="vertical-menu-modern" data-col="">

        <!-- BEGIN: Header-->
        <%- include('../common/navbar.ejs'); %>
            <!-- END: Header-->


            <!-- BEGIN: Main Menu Sidebar -->
            <%- include('../common/sidebar.ejs'); %>
                <!-- END: Main Menu Sidebar-->

                <!-- BEGIN: Content-->
                <div class="app-content content ">
                    <div class="content-overlay"></div>
                    <div class="header-navbar-shadow"></div>
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-header row">
                            <div class="content-header-left col-md-9 col-12 mb-2">
                                <div class="row breadcrumbs-top">
                                    <div class="col-12">
                                        <h2 class="content-header-title float-start mb-0">Booking Listing</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="content-body">
                            <!-- Basic table -->
                            <section id="basic-datatable">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">

                                            <!-- <a class="leftbtn" style="margin-left: 88%;"href="/admin/category"> <button class="btn-sm btn-success">Add category</button></a> -->
                                            <div class="table-responsive">
                                                <table class="table" id="myTable">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>User Name</th>
                                                            <th>Coach Name</th>
                                                            <th>Booking Type</th>
                                                            <th>Start Time </th>
                                                            <th>End Time </th>
                                                            <th>Price</th>
                                                            <th>Booking Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <% find_transaction.forEach(function(transaction, i){ %>
                                                        <tr>
                                                            <th scope="row">
                                                                <%= i+1 %>
                                                            </th>
                                                            <td>
                                                                <%-transaction?.student_details?.first_name%> <%-transaction?.student_details?.last_name%>
                                                            </td>
                                                            <td>
                                                                <%-transaction?.coach_details?.first_name%> <%-transaction?.coach_details?.last_name%>
                                                            </td>
                                                            <td>
                                                                <%-transaction?.transaction_type%>
                                                            </td>
                                                            <td>
                                                                <%-transaction?.start_time%>
                                                            </td>
                                                            <td>
                                                                <%-transaction?.end_time%>
                                                            </td>
                                                            <td><%-transaction?.price%></td>
                                                            
                                                            <td><%-transaction?.transaction_status == 0 ?'<li style="margin:0px;" class="btn btn-sm btn-danger">Pending</li>':''%></td>
                                                            <td>
                                                                <a href="/admin/transactionview/<%-transaction.id%>"
                                                                    style="margin:0px;"
                                                                    class="btn btn-sm btn-success">View</a>
                                                                <!-- <button onclick="deleteUser('<%-transaction.id%>')"
                                                                    style="margin:0px;"
                                                                    class="btn btn-sm btn-danger deletdat>">Delete</button> -->
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--/ Basic table -->
                        </div>
                    </div>
                </div>


                <!-- END: Content-->
                <%- include('../common/footer.ejs'); %>
                    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
                        rel="stylesheet">
                    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
                    <!-- DATA TABLE  -->
                    <script>
                        $(document).ready(function () {
                            $('#myTable').DataTable({
                                "pageLength": 100
                            });
                        });

                    </script>
                    <!-- DATA USER DELETED  -->
                    <script>
                        function deleteUser(category_id) {
                            // alert(category_id)
                            const swalWithBootstrapButtons = Swal.mixin({
                                customClass: {
                                    confirmButton: "btn btn-success",
                                    cancelButton: "btn btn-danger"
                                },
                                buttonsStyling: false
                            });
                            swalWithBootstrapButtons.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Yes, delete it!",
                                cancelButtonText: "No, cancel!",
                                reverseButtons: true
                            }).then((result) => {
                                if (result.isConfirmed) {


                                    $.ajax({
                                        type: "POST",
                                        url: "/admin/deletedgame",
                                        data: {
                                            id: category_id,
                                            is_deleted: 1
                                        },
                                        success: function (response) {
                                            ;
                                            if (response == true) {
                                                swalWithBootstrapButtons.fire({
                                                    title: "Deleted!",
                                                    text: "Your game  has been deleted.",
                                                    icon: "success"
                                                }).then((suc) => {
                                                    location.reload()
                                                });

                                            }
                                        },
                                        error: function (response) {

                                        }
                                    });

                                } else if (
                                    /* Read more about handling dismissals below */
                                    result.dismiss === Swal.DismissReason.cancel
                                ) {
                                    swalWithBootstrapButtons.fire({
                                        title: "Cancelled",
                                        text: "Your game is safe :)",
                                        icon: "error"
                                    });
                                }
                            });
                        }
                    </script>